<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
    <style>
        .navigation-order{
            margin-bottom: 30px;
        }
        .jumbotron-billboard {
            margin-bottom: 0px;
            opacity: 1;
            color: #fff;
            background: #000 url("/books.jpg") center center;
            width: 100%;
            height: 25%;
            background-size: cover;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="jumbotron jumbotron-billboard">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4 style="color: white">A place for reading books.</h4>
            </div>
        </div>
    </div>
</div>
<div class="container">	<div class="row">
    <div class="col-md-12">
        <h3> List of the authors with all of their books </h3>
    </div>
</div>
    <div class="row">
        <div class="col-md-9">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Last name</th>
                    <th>Birth year</th>
                    <th>Books</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="author : ${authors}">
                    <td><span th:text="${author.name}"></span></td>
                    <td><span th:text="${author.lastName}"> </span></td>
                    <td><span th:text="${author.birthYear}"> </span></td>
                    <td><th:block th:each="book : ${author.books}">
                        <div th:text="${book.title}"></div>
                    </th:block></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <a class="btn btn-info" href="#" th:href="@{/}" > Back to books list  </a>
            <a class="btn btn-link" href="#" th:href="@{/search}" > Find books by author's last name</a>
        </div>
    </div>
</div>
</body>

</html>