<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Create Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>

    <style>
        .navigation-order{
            margin-bottom: 30px;
        }
        .jumbotron-billboard {
            margin-bottom: 0px;
            opacity: 1;
            color: #fff;
            background: #000 url("/books.jpg") center center;
            width: 100%;
            height: 25%;
            background-size: cover;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="jumbotron jumbotron-billboard">
    <div class="container my-5">
        <a class="btn btn-info" href="#" th:href="@{/}" > Back to books list  </a>
    </div>
<div class="container my-5">
    <h3> Book details </h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/createBook}" th:object="${book}"
                      method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="title" class="col-form-label">Title</label>
                            <input type="text" th:field="*{title}" class="form-control"
                                   id="title" placeholder="Title" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="ISBN" class="col-form-label">ISBN</label>
                            <input type="text" th:field="*{ISBN}" class="form-control"
                                   id="ISBN" placeholder="ISBN" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="publicationYear" class="col-form-label">Publication year</label>
                            <input type="text" th:field="*{publicationYear}" class="form-control"
                                   id="publicationYear" placeholder="Year of publication" />
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-success" value=" Submit ">
                        </div>

                        <input type="hidden" id="id" th:field="*{ISBN}">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</body>

</html>