<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
    <style>
        .navigation-order{
            margin-bottom: 30px;
        }
        .jumbotron-billboard {
            margin-bottom: 0px;
            opacity: 1;
            color: #fff;
            background: #000 url("/books.jpg") center center;
            width: 100%;
            height: 25%;
            background-size: cover;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"/>
    <div class="jumbotron jumbotron-billboard">

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 style="color: white">A place for reading books.</h4>
                </div>
            </div>
        </div>
    </div>
<div class="container">	<div class="row">
    <div class="col-md-12">
        <h3> List of Books ordered by publication year </h3>
    </div>
</div>
    <div class="row">
        <div class="col-md-6">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>ISBN</th>
                        <th>Year of publication</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="book : ${books}">
                        <td><span th:text="${book.title}"> title </span></td>
                        <td><span th:text="${book.ISBN}"> ISBN </span></td>
                        <td><span th:text="${book.publicationYear}"> publicatonYear </span></td>
                        <td>
                            <a th:href="@{/edit/{isbn}(isbn=${book.ISBN})}"
                               class="btn btn-warning">
                                Edit Book
                            </a>
                        </td>
                        <td>
                            <a th:href="@{/delete/{isbn}(isbn=${book.ISBN})}"
                               class="btn btn-danger">
                                Delete Book
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
        </div>
        <div class="col-md-6">
            <a class="btn btn-success" href="#" th:href="@{/edit}"> Create Book </a>
            <a class="btn btn-info" href="#" th:href="@{/authors}" > Show authors with books  </a>
        </div>
        <br/>
        <div class="col-md-6">
            <h3>Statistics about the books</h3>
            <h6>Oldest book published:</h6>
            <label th:text="${oldest.title} + ' in year ' + ${oldest.publicationYear}"></label>
            <h6>Newest book published:</h6>
            <label th:text="${newest.title} + ' in year ' + ${newest.publicationYear}"></label>
            <h6>Authors with 3 or more books:</h6>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                    <th>Books</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="author : ${authors}">
                    <td><span th:text="${author.name}"></span></td>
                    <td><span th:text="${author.lastName}"> </span></td>
                    <td><th:block th:each="book : ${author.books}">
                        <div th:text="${book.title}"></div>
                    </th:block></td>
                </tr>
                </tbody>
            </table>
            <h6>Authors of the Books published in the same decade as the birth year of Backman - 1981:</h6>
            <th:block th:each="author : ${decade}">
                <div th:text="${author.Name} + ' ' +${author.lastName}"></div>
            </th:block>
        </div>
    </div>
</div>
</body>

</html>
